* {
  margin: 0;
  padding: 0;
}

body{
    background-color: #060707; 
}

.box-container {
    background-color: #051543; 
    border: 8px solid hsl(54, 100%, 72%); 
    border-radius: 12px; 
    padding: 20px 25px; 
    font-family: 'Times New Roman', Times, serif; 
    color: #bff0bd; 
    box-sizing: border-box;
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.box-container h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.box-container p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: left;
}

.box-container button {
    background-color: #b31350;
    color: #ffffff;
    border: none;
    border-radius: 6px; 
    padding: 8px 12px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.box-container button:hover {
    background-color: #e371bd;
}

.highlight {
    color: #ff0000; 
    padding: 2px 4px; 
    border-radius: 4px; 
    font-weight: bold;
}